#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

#modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111111bd;
}

#modal img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  animation: spin 1.2s infinite linear;
  background-color: #cbebf3e3;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spriteSize {
  width: 120px;
}

#pokemonCard {
  height: 400px;
}
